@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* Config all */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
}


/*  */

body {
    background-color: black;
}

.logoNav img {
    width: 50%;
    cursor: pointer;
}

a,
li {
    color: whitesmoke;
    list-style: none;
    padding: 20%;
    font-size: 1.4rem;
}

nav a:hover {
    color: blue;
}

header {
    background-color: rgb(5, 5, 5);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}

ul {
    display: flex;
    justify-content: space-around;
}

.containerCard {
    width: 250px;
    height: 350px;
    margin-bottom: 6%;
}

.containerCard img {
    width: 100%;
}

.containerMain {
    display: flex;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 8%;
    justify-content: space-around;
    flex-wrap: wrap;
}